@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  height: 100%;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  font-family: 'Roboto', sans-serif;
  overflow-wrap: break-word;
}

#output {
  padding-top: 20px;
  text-align: start;
}
